@charset "utf-8";
@import url("Aileron_Heavy/stylesheet.css");
@import url("Montserrat_ExtraBold/stylesheet.css");


.container.b{
	align-items: flex-start;
    background-color: #EFEFEF;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.wrap-innovation{
    width: 100%;
    padding: 50px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
    font-family: "Montserrat ExtraBold";
    font-size: x-large;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #474747;
}